<form name="signup" class="gh-form flex items-center justify-between w-full bg-white hover:bg-white max-w-2xl text-lg sm:text-xl relative h-12 sm:h-16" data-members-form="subscribe">
    <input class="gh-form-input text-stone-950" id="{{email_field_id}}" type="email" name="email" placeholder="jamie@example.com" required data-members-email autocomplete="email" data-1p-ignore>
    <button class="gh-button !h-10 sm:!h-14 bg-stone-950 hover:bg-stone-950 min-w-14 font-medium" type="submit" aria-label="Get early access">
        <span class="inline-flex items-center"><span>Get early access</span> {{> "icons/arrow"}}</span>
        {{> "icons/loader"}}
        {{> "icons/checkmark"}}
    </button>
    <p data-members-error class="!text-base"></p>
    <p class="!text-base gh-form-success-message">Email sent! Check your inbox to complete your signup.</p>
</form>